<link rel="stylesheet" type="text/css" href="../css/style.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<div class="form-collection">
    <h1 style="color:white;margin-left: -10%;">Wisdomrider Notes</h1>
    <form method="post">
        <div class="card elevation-2 limit-width sign-up-card above">
            <div class="card-body">
                <div class="input-group email">
                    <input name="username" type="text" placeholder="Email"/>
                </div>
                <div class="input-group password">
                    <input name="password" type="password" placeholder="Password"/>
                </div>
                <a href="#" class="box-btn">Forgot Password?</a>
            </div>
            <div class="card-footer">
                <button type="submit" class="login-btn">Log in</button>
            </div>

        </div>
    </form>
    <form method="post" action="/register">
        <div class="card elevation-3 limit-width log-in-card below turned">
            <div class="card-body">
                <div class="input-group fullname">
                    <input name="name" type="text" placeholder="Full Name"/>
                </div>
                <div class="input-group email">
                    <input name="username" type="email" placeholder="Email"/>
                </div>
                <div class="input-group password">
                    <input name="password" type="password" placeholder="Password"/>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="signup-btn" disabled>Sign Up</button>
            </div>
        </div>
    </form>

</div>
</div>
<% include footer.ejs %>
<script>
    $(document).on('click', '.below', function () {
        var belowCard = $('.below'),
            aboveCard = $('.above'),
            belowbtn = $('.below button'),
            abvbtn = $('.above button'),
            parent = $('.form-collection');
        parent.addClass('animation-state-1');
        setTimeout(function () {
            abvbtn[0].setAttribute("disabled", true)
            belowbtn[0].removeAttribute("disabled")
            belowCard.removeClass('below');
            aboveCard.removeClass('above');
            belowCard.addClass('above');
            aboveCard.addClass('below');
            setTimeout(function () {
                parent.addClass('animation-state-finish');
                parent.removeClass('animation-state-1');
                setTimeout(function () {
                    aboveCard.addClass('turned');
                    belowCard.removeClass('turned');
                    parent.removeClass('animation-state-finish');
                }, 300)
            }, 10)
        }, 300);
    });
</script>
